/************************************************************************/
/***************************** FONT FAMILY ******************************/
/************************************************************************/


/* MONTSERRAT */
@font-face {
  font-family: MontserratLight;
  src: url(fonts/Montserrat/Montserrat-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: MontserratRegular;
  src: url(fonts/Montserrat/Montserrat-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: MontserratSemiBold;
  src: url(fonts/Montserrat/Montserrat-SemiBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: MontserratItalic;
  src: url(fonts/Montserrat/Montserrat-Italic.ttf);
  font-display: swap;
}

/* PLAYFAIR DISPLAY */
@font-face {
  font-family: Playfair;
  src: url(fonts/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf);
  font-display: swap;
}

@font-face {
  font-family: PlayfairItalic;
  src: url(fonts/PlayfairDisplay/PlayfairDisplay-Italic-VariableFont_wght.ttf);
  font-display: swap;
}

